.footerStyle {
    width: "100%";
    height: "100px";
    background-image: linear-gradient(rgb(33, 18, 99), rgb(10, 125, 192));
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

